* {
  font-family: "Ubuntu", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #cc2559;
}

.home {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 230px 1fr 200px auto auto;
  background-color: #1c1f26;
  height: 100vh;
  color: #fff;
}

.main-tag {
  background-color: #cc2559;
  justify-self: end;
  grid-row: 1/2;
  grid-column: 1/4;
  width: 400px;
  height: 160px;
  margin: 20px 0;
  border-radius: 20px 0 0 20px;
  text-align: center;
  background: linear-gradient(to right, #cc2559 50%, lightblue 50%) left;
  background-size: 200%;
  transition: 0.5s ease;
}
.main-tag:hover {
  background-color: ghostwhite;
  background-position: right;
}

.main-tag h2 {
  font-family: "Rochester", cursive;
  font-size: 4rem;
  margin: 6px 36px;
}

.home h1 {
  font-size: 5rem;
  margin: 2% 0 0 2%;
  justify-self: start;
  grid-row: 2/3;
  grid-column: 1/4;

  font-weight: 400;
}
.home h1 span {
  font-weight: bold;
  color: #cc2559;
}

.home h2:nth-child(3) {
  font-size: 1.8rem;
  margin: 5% 0;
  justify-self: center;
  grid-row: 3/4;
  grid-column: 2/3;
}
.home h2:nth-child(4) {
  font-size: 1.3rem;
  line-height: 1.5;
  grid-row: 4/5;
  grid-column: 1/2;
  margin: 2% 0 0 6%;
  justify-self: start;
  font-weight: normal;
}

.nav-bar {
  grid-row: 5/6;
  grid-column: 2/3;
  justify-self: center;
  font-size: 1.5rem;
  margin: 5% 0;
}

.nav-items li {
  display: inline-block;
}
.nav-items li a {
  color: #cc2559;
  text-decoration: none;
}
.nav-items li a:hover {
  color: lightblue;
}
.nav-items li span {
  color: #cc2559;
}

.about,
.work,
.contact {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr 2fr 1fr;
  height: 100vh;
}

.about div:nth-child(1),
.work div:nth-child(1),
.contact div:nth-child(1) {
  position: sticky;
  grid-column: 1/2;
  grid-row: 1/4;
  font-size: 5rem;
  justify-self: center;
  color: #fff;

  align-self: center;
}

.about div:nth-child(1) h2,
.work div:nth-child(1) h2,
.contact div:nth-child(1) h2 {
  font-family: "Rochester", cursive;
  grid-row: 2/3;
  grid-column: 1/2;
}
.about div:nth-child(2),
.work div:nth-child(2),
.contact div:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/4;
  padding: 20px;
  background-color: #fff;
  z-index: 1;
}

.about div:nth-child(2) h3 {
  font-size: 2.4rem;
  margin: 10px 30px;
  text-align: center;
  font-weight: 800;
  color: rgb(104, 104, 104);
}

.about div:nth-child(2) h3:nth-child(2),
.about div:nth-child(2) h3:nth-child(3) {
  text-align: left;
  font-size: 1.6rem;
  color: #000;
  margin-top: 30px;
  font-weight: normal;
}
.about div:nth-child(2) ul {
  text-align: center;
  margin-top: 150px;
}
.about div:nth-child(2) ul li {
  display: inline-block;
  text-align: center;
  font-size: 3rem;
  margin: 10px;
}
.about div:nth-child(2) ul li a {
  color: #000;
}
.work div:nth-child(1) {
  grid-column: 2/3;
  grid-row: 1/4;
}
.work div:nth-child(2) {
  background-color: rgba(red, green, blue, 0.5);

  grid-column: 1/2;
  grid-row: 1/4;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: changeWork 10s infinite;
}

@keyframes changeWork {
  0% {
    background-image: url("https://anydifferencebetween.com/wp-content/uploads/2016/08/Difference-Between-Custom-Software-and-Utility-Software.jpg");
  }
  25% {
    background-image: url("https://www.npl.co.uk/getmedia/da58a8da-6153-4a03-86fa-13b30b29dc62/software-hdr-d.jpg?width=1920&height=1080&ext=.jpg");
  }
  50% {
    background-image: url("https://helloclue.com/static/app-screenshots-9e52be08886b0416ed3ed284b113b77d.png");
  }
  75% {
    background-image: url("https://i.ytimg.com/vi/peX9k5wMqWk/maxresdefault.jpg");
  }
  100% {
    background-image: url("https://33t2km132djh3q21qa47elmw-wpengine.netdna-ssl.com/wp-content/uploads/2019/05/Good-website-design-725x412.jpg");
  }
}

.work div:nth-child(2) h3 {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  align-self: center;
}

.contact div:nth-child(2) h2 {
  text-align: center;
  margin-top: 100px;
  font-size: 3rem;
}
.contact div:nth-child(2) ul {
  text-align: center;
  list-style: none;
}
.contact div:nth-child(2) ul li {
  font-size: 2rem;
  margin-top: 30px;
}
