@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: black;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

.home {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/background.jpg");
  padding: 1rem 10rem 3rem 10rem;
  background-size: cover;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 90vh;
}

.home nav {
  grid-row: 1/2;
  font-size: 3rem;
  display: inline-block;
  width: 100%;
}

.home nav img {
  width: 15rem;
}

.home nav ul {
  float: right;
}

.home nav ul li {
  display: inline-block;
  font-weight: 800;
  margin: 0 1rem;
}

.home nav ul li:hover {
  transform: scale(1.1);
  transition: all 500ms;
}

.home nav ul li a {
  text-decoration: none;
  color: #fff;
}

.home nav ul li a:hover {
  color: #04bf71;
}

.home .primary-header {
  margin-top: 20rem;
  justify-self: center;
}

.home .primary-header .primary-header-main {
  text-align: center;
}

.home .primary-header .primary-header-main h1 {
  font-size: 8rem;
  font-weight: 800;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.home .primary-header .primary-header-main h1 span {
  color: #04bf71;
}

.home .primary-header .primary-header-main h2 {
  margin-top: 2rem;
  font-size: 4rem;
  font-weight: 200;
  animation: moveInRight ease-out 1s;
}

.home .primary-header .primary-header-main h2 span {
  color: #04bf71;
}

.home .primary-header .primary-header-main a {
  margin-top: 2rem;
  background-color: #04bf71;
  animation: moveInButton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.home .primary-header .primary-header-main a:link, .home .primary-header .primary-header-main a:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
}

.home .primary-header .primary-header-main a:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.home .primary-header .primary-header-main a:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.home .primary-header .primary-header-main a:active {
  transform: translate(-1px);
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2);
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  height: 100vh;
  padding: 1rem 10rem 3rem 10rem;
  align-items: center;
}

.about .about-text-field {
  grid-column: 1/2;
  grid-row: 1/2;
}

.about .about-text-field h3 {
  font-size: 3rem;
  color: #04bf71;
}

.about .about-text-field h4 {
  font-size: 4rem;
  margin-top: 5%;
}

.about .about-text-field p {
  font-size: 2rem;
}

.about .about-text-field p:not(:last-child) {
  margin-top: 2rem;
  margin-bottom: 2%;
}

.about .about-text-field p a {
  color: #04bf71;
  text-decoration: none;
}

.about .about-text-field ul {
  text-align: center;
  margin-top: 3rem;
}

.about .about-text-field ul li {
  display: inline;
  font-size: 3rem;
}

.about .about-text-field ul li a {
  color: #fff;
  margin: 1rem;
}

.about .img-field {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 1rem;
}

.about .img-field img {
  width: 97%;
}

.my-work {
  height: 100%;
  background-color: #fff;
  color: #000;
  padding: 1rem 10rem 3rem 10rem;
}

.my-work h3 {
  font-size: 5rem;
  color: #04bf71;
  margin-top: 5%;
  text-align: center;
}

.my-work .my-work-set {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 3rem;
}

.my-work-set__items {
  margin: 3rem;
  position: relative;
  width: 250px;
  height: 350px;
  overflow: hidden;
  transition: 0.3s;
  clip-path: polygon(93% 0, 100% 5%, 100% 100%, 0 100%, 0 0);
  cursor: pointer;
}

.my-work-set__items img {
  position: absolute;
  width: auto;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  transition: inherit;
}

.my-work-set__items h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  text-align: center;
  color: #000000;
  transition: inherit;
  -webkit-text-stroke: 1px #04bf71;
  /* width and color */
}

.my-work-set__items:hover {
  clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0 100%, 0 0);
}

.my-work-set__items:hover img {
  transform: translate(-50%, -50%) scale(1);
}

.my-work-set__items:hover h4 {
  font-size: 3.5rem;
  transition: inherit;
  background-color: #04bf71;
}

.services {
  min-height: 100vh;
  max-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  padding: 1rem 10rem 3rem 10rem;
  color: #000000;
}

.services h3 {
  font-size: 5rem;
  color: #04bf71;
  grid-column: 1/4;
  justify-self: center;
  grid-row: 1/2;
  margin: 4rem auto;
}

.services .services-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.services .services-main .services-main__item {
  background-color: #ffffff;
  margin: 3rem;
  width: 440px;
  height: 560px;
  border-radius: 1rem;
  justify-content: center;
  text-align: center;
}

.services .services-main .services-main__item img {
  width: 30rem;
}

.services .services-main .services-main__item h4 {
  font-size: 4rem;
  color: #04bf71;
}

.services .services-main .services-main__item p {
  margin-top: 2rem;
  font-size: 2rem;
}

.contact {
  min-height: 100vh;
  max-height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

.contact .contat-from {
  display: block;
}

.contact .contat-from label {
  display: block;
  font-size: 3rem;
  text-align: center;
}

.contact .contat-from input {
  font-size: 3rem;
  height: 5rem;
  padding: 1rem;
  width: 50rem;
}

.contact .contat-from textarea {
  font-size: 3rem;
  width: 50rem;
}

.contact .contat-from a {
  margin-top: 2rem;
  background-color: #04bf71;
  animation: moveInButton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.contact .contat-from a:link, .contact .contat-from a:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  text-align: center;
  display: block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
}

.contact .contat-from a:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.contact .contat-from a:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.contact .contat-from a:active {
  transform: translate(-1px);
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2);
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translate(0);
  }
}
/*# sourceMappingURL=style.css.map */